.container {
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    max-width: 1160px;
    width: 100%;
    border-color: rgb(0, 0, 0);
    font-family: Roboto;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 500;
}

.input {
    position: absolute;
    top: -2rem;
    font-size: 1rem;
    border-radius: 1rem;
    z-index: 0;
}

.posts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 3rem;
}

/* Laptop */

@media (max-width: 1440px) {
    .posts {
        justify-content: center;
        column-gap: 3rem;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 0;
        padding-top: 0.5rem;
    }

    .posts {
        row-gap: 1rem;
    }

    .input {
        top: -1.25rem;
    }
}

/* Animation */
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        height: 0;
        padding: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        height: 0;
        padding: 0;
    }
    100% {
        opacity: 1;
    }
}

.removed {
    animation: fadeOut 0.8s ease forwards;
}

.added {
    animation: fadeIn 0.8s ease forwards;
}
