.container {
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    max-width: 1160px;
    width: 100%;
    border-color: rgb(0, 0, 0);
    font-family: Roboto;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    z-index: -1;
}

.input {
    position: absolute;
    top: -3.5vh;
    font-size: 1rem;
    border-radius: 1rem;
}

.posts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 3rem;
}

/* Laptop */

@media (max-width: 1440px) {
    .posts {
        justify-content: center;
        column-gap: 8rem;
    }
}

.slideDown {
    animation: slideDown 0.5s;
}

.slideUp {
    animation: slideUp 0.5s;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-100%);
        opacity: 0;
    }
}
