/* body {
    display: flex;
    align-items: center;
    justify-content: center;
} */

/* .root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
} */
